
body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: black;
    
  }

p {
  font-size: 16px;
  padding-inline: 200px;
  padding-bottom: 15px;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.margin {margin-bottom: 15px;}

.container-fluid {
  padding: 0px;
}

.navbar {
  padding-top: 0px;
}


.bodytext {
  padding-inline: 200px;
  padding-bottom: 15px;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.spacer {
  padding: 20px;
}

.spacersmall {
  padding: 10px;
}

.imagedoc {
  width: 100%;
  max-width: 450px;
  height: auto;
}

#homenav {
  font-size: 20px;
}